<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLog</servlet-name>
        <servlet-class>uts.isd.controller.UserLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogOutServlet</servlet-name>
        <servlet-class>uts.isd.controller.UserLogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogOutServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffLogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <servlet-class>uts.isd.controller.AdminUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDetailsDeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentDetailsDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDetailsUpdateServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentDetailsUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDetailsServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartViewsServlet</servlet-name>
        <servlet-class>uts.isd.controller.CartViewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartsViewServlet</servlet-name>
        <servlet-class>uts.isd.controller.CartsViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEntryServlet</servlet-name>
        <servlet-class>uts.isd.controller.CreateEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>uts.isd.controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartViewServlet</servlet-name>
        <servlet-class>uts.isd.controller.CartsViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAllocateServlet</servlet-name>
        <servlet-class>uts.isd.controller.StudentAllocateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUnallocateServlet</servlet-name>
        <servlet-class>uts.isd.controller.StudentUnallocateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <url-pattern>/StaffUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLog</servlet-name>
        <url-pattern>/UserLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogOutServlet</servlet-name>
        <url-pattern>/UserLogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogOutServlet</servlet-name>
        <url-pattern>/StaffLogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceAddServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeviceAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceEditServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeviceEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceSearchServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeviceSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceTesr</servlet-name>
        <servlet-class>uts.isd.controller.DeviceSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceAddServlet</servlet-name>
        <url-pattern>/DeviceAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceEditServlet</servlet-name>
        <url-pattern>/DeviceEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceSearchServlet</servlet-name>
        <url-pattern>/DeviceSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceTesr</servlet-name>
        <url-pattern>/DeviceTesr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <url-pattern>/AdminUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDetailsDeleteServlet</servlet-name>
        <url-pattern>/PaymentDetailsDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDetailsUpdateServlet</servlet-name>
        <url-pattern>/PaymentDetailsUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDetailsServlet</servlet-name>
        <url-pattern>/PaymentDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartViewsServlet</servlet-name>
        <url-pattern>/CartViewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartsViewServlet</servlet-name>
        <url-pattern>/CartsViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEntryServlet</servlet-name>
        <url-pattern>/CreateEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartViewServlet</servlet-name>
        <url-pattern>/CartViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/CreateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAllocateServlet</servlet-name>
        <url-pattern>/StudentAllocateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUnallocateServlet</servlet-name>
        <url-pattern>/StudentUnallocateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
